/* Main timeline container */
.timeline {
    position: relative;
    max-width: 70em;
    margin: 0 auto;
    /* Transition animation on page load */
    -webkit-animation: transitionIn 1.5s;
    animation: transitionIn 1.5s;
    z-index: -1;
}

/* The straight line */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #ee6557;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 20px 50px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* Circles along the timeline line */
.circle {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: 4px solid #ee6557;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 37px;
    margin-left: -17px;
    z-index: 1;
}

/* Left container placement */
.left {
    left: 0;
}

/* Adding arrows */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 45px;
    width: 0;
    z-index: 1;
    right: 40px;
    border: medium solid #4C4C4C;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #4C4C4C;
}

/* Right container placement */
.right {
    left: 50%;
}

/* Adding arrows */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 45px;
    width: 0;
    z-index: 1;
    left: 40px;
    border: medium solid #4C4C4C;
    border-width: 10px 10px 10px 0;
    border-color: transparent #4C4C4C transparent transparent;
}

/* Content inside the containers */
.content {
    padding: 20px 30px;
    background-color: #f8f8ff;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

/* Icons inside the content */
.content-icon {
    position: relative;
    left: 85%;
    padding: 2px;
    color: #4C4C4C;
}

/* Responsive timeline for smaller screens */
@media screen and (max-width: 700px) {

    .timeline:after {
        left: 30px;
    }

    .circle {
        left: 30px;
    }

    .left {
        left: 50%;
    }

    .container {
        width: 100%;
        position: initial;
        margin-left: 20px;
    }

    .container::before {
        left: 39px;
        border: medium solid #4C4C4C;
        border-width: 10px 10px 10px 0;
        border-color: transparent #4C4C4C transparent transparent;
    }
}