/* Font impport from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;700&display=swap");

/* Global settings and properties */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Source Code Pro", monospace;
  font-size: 100%;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 0;
}

/* Properties to keep footer at the bottom */
.page-container {
  position: relative;
  min-height: 100vh;
}

/* Footer height */
.content-wrapper {
  padding-bottom: 2.5rem;
}

/* Code flows from top to bottom sections */

/* -- Navigation bar -- */
.navbar {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.logo {
  padding: 0.5em 0;
  margin-left: 2em;
  font-size: 130%;
  letter-spacing: 0.2em;
}

.logo:hover {
  font-weight: 600;
}

.nav-list {
  display: flex;
  font-size: 110%;
  max-width: 100%;
}

.nav-list>li {
  margin-right: 2em;
}

.nav-item {
  position: relative;
  padding: 2px;
}

.nav-item:hover {
  color: #035e7b;
}

.nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  top: 100%;
  background-color: #035e7b;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav-item:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/* Menu button for mobile */
.hamburger {
  display: none;
  background-color: transparent;
  border: 0;
  font-size: 120%;
  cursor: pointer;
}

.hamburger:hover {
  color: #4C4C4C;
}

.hamburger:focus {
  outline: none;
}

@media only screen and (max-width: 750px) {

  .nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-list.show {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255);
    font-size: 110%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    padding-bottom: 0.65em;
  }

  .nav-list>li {
    margin: 0;
  }

  .hamburger {
    display: block;
    margin-right: 2em;
  }
}

/* -- Introductory section --*/
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 17em;
  max-width: 100%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  background-color: #f8fbfd;
  padding: 2.938em 1.5em 0em 1.5em;
}

h1 {
  padding-bottom: 20px;
  font-size: 200%;
}

.introduction>p,
span {
  font-size: 110%;
  color: #232b2b;
}

/* Blinking cursor of the typewriter effect */
@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#blinking-cursor {
  animation: blink 0.8s infinite;
}

/* -- About me section left and right div --*/
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 45em;
  margin: 2em auto;
  padding: 0 2em;
}

.portrait {
  width: 150px;
  border: 2px solid #fff;
  border-radius: 50%;
  filter: grayscale(50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact {
  margin-right: 2em;
  display: flex;
  flex-direction: column;
}

.social {
  white-space: nowrap;
}

.about>p {
  color: #232b2b;
}

h2 {
  padding-top: 10px;
}

.social-item {
  padding: 5px;
}

.social-item:hover {
  color: #035e7b;
}

.social-item:hover span {
  color: #035e7b;
}

.fa {
  font-size: 25px;
}

/* Mobile media properties */
@media only screen and (min-width: 420px) and (max-width: 850px) {
  .main {
    flex-direction: column;
  }

  .image {
    margin-right: 1.5em;
  }

  .contact {
    margin-right: 0;
    flex-direction: row;
    align-items: center;
  }
}

@media only screen and (max-width: 420px) {
  .main {
    flex-direction: column;
  }

  .image {
    text-align: center;
  }

  .contact {
    flex-direction: column;
    margin: 0 auto;
  }
}

/* -- Footer section -- */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
  /* Properties to keep footer at the bottom */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5em;
}