/* Variables */
$main-red: #ee6557;

/* -- Main content on the index page--*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 45em;
  margin: 2em auto;
  padding: 0 2em;
  /* Transition animation on page load */
  -webkit-animation: transitionIn 1.5s;
  animation: transitionIn 1.5s;
}

/* Drop cap effect */
.first-letter {
  float: left;
  font-size: 300%;
  color: $main-red;
  margin: -10px 5px -15px 0;
}

.portrait {
  width: 150px;
  height: 150px;
  border: 2px solid #fff;
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%); 
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2),
    0 4px 15px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.contact {
  margin-right: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.social {
  white-space: nowrap;
}

h2 {
  padding-top: 10px;
}

.social-item {
  padding: 5px;
}

.social-item:hover {
  color: $main-red;
}

.social-item:hover span {
  color: $main-red;
}

.index-icon {
  font-size: 25px;
}

/* Mobile media properties */
@media screen and (min-width: 420px) and (max-width: 850px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image {
    margin-right: 1.5em;
  }

  .contact {
    margin-right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 420px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image {
    text-align: center;
  }

  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
  }
}
